@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: auto;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  margin-top: -10rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; /* recommended */
}

header {
  background: transparent;
  z-index: 10;
  position: fixed;
  width: 100%;
}

header,
footer {
  display: flex;
}

section:last-child {
  border: none;
}

footer {
  background: lightblue;
  flex-wrap: wrap;
}

p {
  font-size: 18px;
}

.dark-bg {
  background: #1f2937;
}

.grey-bg {
  background-color: #e5e7eb;
}

.blue-bg {
  background-color: #3882f6;
}

.header-logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.info-header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
}

.logo {
  margin-left: 4rem;
  backdrop-filter: blur(2px);
  background-color: rgba(24, 24, 24, 0.5);
  margin-top: 1rem;
  border-radius: 16px;
}

.logo img {
  height: 8rem;
}

ul[role="nav"] {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul[role="nav"] {
  margin-left: auto;
  align-items: center;
  margin-right: 4rem;
  flex-wrap: wrap;
  gap: 8px;
}

ul[role="nav"] li {
  backdrop-filter: blur(2px);
  color: white;
  display: flex;
  border-radius: 16px;
  background-color: rgba(24, 24, 24, 0.5);
}

ul[role="nav"] li a {
  padding: 1rem 1.5rem;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.opening {
  height: 100%;
  margin-bottom: -1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  background-color: #3882f6;
  border-radius: 12px;
  border: 0;
}

.mx-center {
  justify-content: center;
}

.mx-space-around {
  justify-content: space-around;
}

.cx-center {
  align-items: center;
}

.center-text {
  text-align: center;
}

.frame {
  display: flex;
  border: 1px solid white;
}

.white-frame {
  border: 2px solid white;
}

.blue-frame {
  border: 2px solid blue;
}

.rounded {
  border-radius: 16px;
}

.gap-4 {
  gap: 4rem;
}

.padding-4 {
  padding: 4rem;
}

.padding-tb-4 {
  padding: 4rem 0;
}

.width-50 {
  width: 50%;
}

.width-65 {
  width: 65%;
}

.pull-right {
  margin-left: auto;
}

.flex-1 {
  flex: 1;
}
